.homecategories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    flex-wrap: wrap;
}

.homecategories .container {
    width:24%;
    height: 130px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.homecategories .container img{
    height: 100%;
    object-fit: cover;
    scale: 0.8;
}

.homecategories .container img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.homecategories .container .content{
    width: 50%;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.homecategories .container .content h1{
    font-size: 19px;
    font-weight:400;
    margin: 0;
}
.homecategories .container .content p{
    font-size: 15px;
}
.homecategories .container:nth-child(1) {
    background-color: #fbdc6e81;
}

.homecategories .container:nth-child(2) {
    background-color: #ff93937f;
}

.homecategories .container:nth-child(3) {
    background-color: #ffabe477;
}

.homecategories .container:nth-child(4) {
    background-color: #a8d0e67e;
}